.title {
	font-family: 'Noto Sans', serif;
	font-size: 4em;
	line-height: 1.3em;
	box-sizing: border-box;
	color: $textIndex;

		strong {
			color: $textStong;
		}

	@include mobile {
		font-size: 2em
	}

	&--bigger { font-size: 8em }
	&--uppercase { text-transform: uppercase }
	&--margin { margin-bottom: 50px }
	&--light { font-weight: 400 }

	&--white { color: $white }
	&--grey { color: $mainTitle }

	&__hat {
		line-height: 53px;
		font-size: 1.5em;
		padding-left: 15px;
	}
}