.title {
	font-family: 'Noto Sans', serif;
	font-size: 4em;
	line-height: 1.3em;
	font-weight: 700;
	box-sizing: border-box;
	color: $textIndex;

		strong {
			color: $textStong;
		}

	@include mobile {
		font-size: 2em
	}

	&__hat {
		line-height: 53px;
		font-size: 1.5em;
		padding-left: 15px;
	}
}