.section {
	height: auto;
	padding: 10% 5%;
	padding-bottom: 20%;
	box-sizing: border-box;
	font-family: 'Droid Serif', serif;
	position: relative;
	z-index: 1;

	&--background {
		background-color: $white;
		width: 100%;
		height: 100%;
		float: left;
		position: absolute;
		top: 0;
		left: 0;
	}

	&--main-color {
		// background: url('../img/bg.jpg') no-repeat center center;
		background-position: cover;
		background: $mainColor; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($mainColor, $mainColorGradient); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($mainColor, $mainColorGradient); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($mainColor, $mainColorGradient); /* For Firefox 3.6 to 15 */
    background: linear-gradient($mainColor, $mainColorGradient); /* Standard syntax */

    .top-slice {
    	border-right: 100vw solid $mainColor;
    }
}

&--white {
	background: $white;

	.top-slice {
		border-right: 100vw solid $white;
	}
}

&--black {
	background: $black;

	.top-slice {
		border-right: 100vw solid $black;
	}
}

.top-slice {
	position: absolute;
	top: -100px;
	right: 0;
	border-top: 100px solid transparent;
	border-left: 0 solid transparent;
}

&--aligner { text-align: center }
&--nomargin { text-align: center }
&--auto { height: auto }
&--100 { height: 100vh }
}