.text {
	font-size: 4em;
	font-weight: 700;
	line-height: 1.3em;
	box-sizing: border-box;
	color: $textIndex;

		&--black {
			color: $textStong;
		}

	@include mobile {
		font-size: 2em
	}

	&--margin { margin-bottom: 50px }
}