.scroll {
	width: 100%;
	text-align: center;
	padding-top: $space*5;

	.scroll-bottom {
		font-size: 3em;	
			top: 0px;
			position: relative;

		&:before {
	    	transform: rotate(180deg);
			cursor: pointer;
		}
	}
}