.hire {
	font-family: 'Open Sans', serif;
	font-size: 4em;

	@include mobile {
		font-size: 2em;
		text-align: left;
    	margin: 0 !important;
	}

	&__item {
		float: left;
		margin-right: $space*2;
		background-color: $white;
		font-weight: 400;
		padding: $space $space*2;
		border-radius: $borderRadius;

		a {
			transition: color 0.3s ease;
		}

		&:hover {
			a {
				color: $mainColor !important;
			}
		}
	}
}