$black: #000000;
$white: #ffffff;

$mainColor: #F55347;
$mainColorGradient: #ff1807;

$textBase: $black;
$textIndex: $white;
$textStong: #1f2329;
$mainTitle: #69768c;
$backgroundTag: #d3d3d3;

$colorSeparator: #F55347;
$textDefinition: #a3a3a3;

$space: 10px;
$borderRadius: 3px;

$fontSize: 14px;

$divider: $fontSize;