_site
.sass-cache
.DS_Store
**/node_modules
**/bower_components
**/web

**/js/min/
*.psd

Makefile_deploy_dev
google0ccfeafd7a876c0c.html

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project