html {
  font-size: 89px;
}

body {
  min-height: 100vh;
  overflow: hidden;
  color: $black;
  margin: $border;
}

.section {
  padding: 100px 0;

  &__plain {
    padding: 0
  }
}

ul {
  li {
    padding-bottom: 1rem;

    &:last-child {
      padding: 0;
    }
  }
}



.no-padding-right {
  padding-right: 0;
}