html {
  font-size: 70px;
}

body {
	font-family: HelveticaNowDisplay-Md, Arial;
  min-height: 100vh;
  overflow: hidden;
  color: $black;
  margin: $border;
}

a {
  color: inherit;
  text-decoration: none;
}

.no-padding-right {
  padding-right: 0;
}

.nomobile {
  @include mq($until: desktop) {
    display: none;
  } 
}