.title {
  font-size: 14vw;
  // font-size: calc(100vh / 4);
  line-height: 0.91em;
  display: flex;
  flex-direction: column;

  &__row {
    &:first-child, &:last-child {
      padding-left: 24.9%;
    }

    span {
      margin-left: 2.5%;
    }
  }
}

.text {
  font-size: 1rem;

  &--right {
    text-align: right;
  }

  &--light {
	  font-family: HelveticaNowDisplay-Th, Arial;
  }

  &--side {
    font-size: 0.4rem;
  }
}