.title {
  width: 100%;
  font-size: 14vw;
  line-height: 0.91em;
  display: flex;
  flex-direction: column;

  &__row {
    @include mq($from: desktop) {
      &:first-child {
        padding-left: 26.1%;
      }

      &:last-child {
        padding-left: 26.5%;
      }

      span {
        margin-left: 2.5%;
      }
    }
  }

  &--light {
    font-family: HelveticaNowDisplay-Th, Arial;
  }
}

.text {
  font-size: 1rem;
  line-height: 1.25rem;

  @include mq($until: desktop) {
    font-size: 0.5rem;
    line-height: 0.75rem;
  }

  &--right {
    text-align: right;
  }

  &--light {
	  font-family: HelveticaNowDisplay-Th, Arial;
  }

  &--side {
    font-size: 0.4rem;
  }
}

.footer {
  font-size: 0.3rem;
  text-align: right;
}