.title {
  font-size: 14vw;
  // font-size: calc(100vh / 4);
  line-height: 0.975em;
  display: flex;
  flex-direction: column;

  &__row {
    &:first-child, &:last-child {
      padding-left: 312px;
    }
  }
}

.text {
  font-size: 1rem;

  &__right {
    text-align: right;
  }

  &__light {
    font-weight: 100;
  }
}