.arrow {
  display: flex;
  align-items: center;

  > span {
    @include mq($from: desktop) {
      min-height: 1rem;
    }
  }

  &__icon {
    opacity: 0;
    width: 95px;
    height: 90px;
    transform: scale(0.5);
    transition: opacity 0.5s ease-out;

    @include mq($until: desktop) {
      opacity: 1;
    }
  }

  &:hover {
    .arrow__icon {
      opacity: 1;
      transition: opacity 0.5s ease-out;
    }
  }
}