body {
	font-size: 14px;

	.section {
		height: auto;
		padding: 10% 5%;
		padding-bottom: 20%;
		box-sizing: border-box;
		font-family: 'Lora', serif;
		position: relative;
		z-index: 1;

		&--white {
			background: $white;

			.top-slice {
				border-right: 100vw solid $white;
			}
		}

		&--main-color {
			background: $mainColor;

			.top-slice {
				border-right: 100vw solid $mainColor;
			}
		}

		&--black {
			background: $black;

			.top-slice {
				border-right: 100vw solid $black;
			}
		}

		.top-slice {
			position: absolute;
			top: -100px;
			right: 0;
			border-top: 100px solid transparent;
    	border-left: 0 solid transparent;
		}

		&--aligner { text-align: center }
		&--auto { height: auto }
		&--100 { height: 100vh }

		.title {
			font-family: 'Open Sans', serif;
			font-size: 3em;
			box-sizing: border-box;

			@include mobile {
				font-size: 1em
			}

			&--bigger { font-size: 7em }
			&--color { color: $textBase }
			&--uppercase { text-transform: uppercase }
			&--lora { font-family: 'Lora', serif; font-weight: 400; }
		}

		.text {
			color: $white;
			font-size: 2em;
			box-sizing: border-box;

			&__index {
				padding: 0 5%;
				margin-top: 5%;
				float: left;
				width: 40%;
				color: $textIndex;
				text-align: right;

				&--big { font-size: 3em }
				&--uppercase { text-transform: uppercase }
			}

			&__definition {
				width: 60%;
				color: $textDefinition;
				line-height: 1.5em;
				text-align: left;
			}
		}



	} 
}