.menu {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	background-color: rgba(black, 0.9);
	opacity: 0;
	display: table;

	&--show { 
		transition: all 0.4s ease;
		opacity: 1;
		z-index: 3;

		ul {
			transition: all 0.6s ease;
			padding-top: 0px;

			li {
				transition: all 0.6s ease;
				opacity: 1;
			}
		}
  }

  &--hide {
  	transition: all 0.4s ease;
  	opacity: 0;
  	z-index: 0;

		ul {
			transition: all 0.6s ease;
			padding-top: 100px;

			li {
				transition: all 0.6s ease;
				opacity: 0;
			}
		}
  }

	&__navigator {
		font-family: 'Fibon', sans-serif;
		height: 100%;
		display: table-cell;
		vertical-align: middle;

		&--center { text-align: center }

		.menu__item {
			font-size: 3em;
			line-height: 2em;

			.menu__link {
				cursor: pointer;
				text-decoration: none;
				color: $white;
				transition: all 0.4s ease;

				&:hover { color: $mainColor }

				&--uppercase { text-transform: uppercase }
				&--bold { font-weight: 700 }
			}
		}
	}
}